# Environments
venv/
.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/

# Database and Downloads
instareelrag.db
chromadb/
downloads/
bm25_index.pkl
*.log

# IDEs
.vscode/
.idea/

# macOS
.DS_Store
